<% if current_user %>
  <% cache @current_user do %>
    <h1>Welcome <%= current_user.email %></h1>
    <% if current_user.name.present? %>
      I really like your name, <%= current_user.name %>.
      <br />
    <% else %>
      I'm really sad. You don't have a name just yet. Please update your profile!
    <% end %>
  <% end %>
<% else %>
<% end %>
